<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>{{brand}} Laundry</title>
	</head>
	<body>
		<!-- Navbar (sit on top) -->
		<div class="w3-top">
		  <div class="w3-bar w3-white  w3-padding w3-card">
		    <div class="w3-margin-left">
		    		<div class="w3-dropdown-hover">
		    			<button class="w3-button">Menu</button>
					    <div class="w3-dropdown-content w3-bar-block" >
					    	<a href="/admin_exec" method="get" class="w3-bar-item w3-button">Admin Home</a>
							<a href="/check_pricing" method="get" class="w3-bar-item w3-button">Pricing</a>
							<a href="/edit_user" method="get" class="w3-bar-item w3-button">User Manage</a>
						</div>
					</div>
				    <div class="w3-right">
				    	<a href="/logout" method="get" class="w3-bar-item w3-button"><b>Log Out</b></a>
				    </div>
		    </div>
		    <!-- Float links to the right. Hide them on small screens -->
		  </div>
		</div>
		<header class="w3-display-container w3-content w3-center w3-margin" style="max-width:1500px; padding-top:74px;" id="home">
		  <img href="/" method="get" class="w3-image" src="images/otouch.png" alt="Architecture" width="1500" height="800">
		</header>

		<div class="w3-container w3-padding-large w3-pale-yellow">
			<form action="/chg_password_admin" method="post" onsubmit="myFunction()">
				 <div class="w3-section">
					<fieldset>
						<legend><b>Change your password</b></legend>
						<div class="w3-row-padding">
							<label for="currPassword">Current Password</label>
							<input type="password" name="oripassword" placeholder="Original Password" required>
						</div>
						<br>
						<div class="w3-row-padding">
							<label for="username">New Password</label>
							<input type="password" name="newpassword" placeholder="New Password" id="newpassword" required>
        				</div>
        				<br>
        				<div class="w3-row-padding">
        					<label for="username">Confirm your password</label>
        					<input type="password" placeholder="Confirm Password" id="confirm_password" required>
        				</div>
        				<br>
					</fieldset>
					<br>
					<input type="submit" value="Change">
				</div>
			</form>
	</body>
	<script>
	 	function myFunction() {
  			alert("Your Password has been successfully changed");
		}
		var password = document.getElementById("newpassword"), confirm_password = document.getElementById("confirm_password");

		function validatePassword(){
		  if(password.value != confirm_password.value) {
		    confirm_password.setCustomValidity("Passwords Don't Match");
		  } else {
		    confirm_password.setCustomValidity('');
		  }
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
	</script>
</html>
